doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Luca Santarella')
        title Luca Santarella
        // Bootstrap core CSS
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity='sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4=' crossorigin='anonymous')
        // Font Awesome 4.7.0
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=', crossorigin='anonymous')
        // Custom styles for this page
        link(href='style.css', rel='stylesheet')
    body
        .site-wrapper
            .site-wrapper-inner
                .cover-container
                    .masthead.clearfix
                        .inner
                            h3.masthead-brand Luca Santarella
                            nav.nav.nav-masthead
                                // a.nav-link.active(href='#') Home
                                a.nav-link(href='https://github.com/lucasantarella/resume/raw/master/Resume.pdf') Résumé
                                a.nav-link(href='mailto:luca.santarella@gmail.com') Contact
                    .inner.cover
                        img.cirleimage(src='https://gravatar.com/avatar/07fbbd898b3bc9e9715cc7cb9bb5a8a1?s=200', alt='Luca Santarella')
                        .clearfix(style='height: 15px;')
                        h1.cover-heading Luca Santarella
                        p.lead
                            a.btn.btn-lg.btn-secondary(href='#') Contact
                    .mastfoot
                        .inner
                            p
                                | Copyright &copy; 2017 by&nbsp;
                                a(href='mailto:luca.santarella@gmail.com') @LucaSantarella
                                | .
                            p
                                | Find me on
                                a(href='https://github.com/lucasantarella')
                                    | &nbsp;
                                    i.fa.fa-github(aria-hidden=true)
                                    | &nbsp;Github
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js', integrity='sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha256-+kIbbrvS+0dNOjhmQJzmwe/RILR/8lb/+4+PUNVW09k=', crossorigin='anonymous')